<div class="container mt-3">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="categoriaSelect">Selecciona una categoría:</label>
          <select class="form-control" id="categoriaSelect" [(ngModel)]="categoryFilter" (change)="getDataFromApi()">
            <option value="---" selected>---</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{ categoria.nombre }}</option>
          </select>                                
        </div>
        <div class="pagination">
            <button class="btn btn-black" (click)="prevPage()" *ngIf="page > 1">Anterior</button>
            <button class="btn btn-black" (click)="nextPage()" *ngIf="hasMoreRecords">Siguiente</button>
          </div>
      </div>


      <div class="col-md-9">
        <div class="card-container">
          <div class="card" *ngFor="let item of datos">
            <a [routerLink]="['/product', item.idProducto]">
            <div class="card-body">
              <h5 class="card-title">{{ item.nombre }}</h5>
              <p class="card-text">Precio: {{ item.precio }}$</p>
            </div>
            <img class="card-img" [src]="item.imagen? item.imagen : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'" alt="Imagen">
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  
  