.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas de 4 */
    justify-content: center; /* Centra horizontalmente las filas de tarjetas */
  }
  
  .card {
    width: calc(25% - 20px); /* Calcula el ancho de cada tarjeta para que haya 4 tarjetas por fila */
    margin: 10px;
    height: 300px; /* Establece una altura fija para las tarjetas */
    border: 1px solid #ccc;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente los elementos dentro de la tarjeta */
  }
  
  .card-img {
    width: 100%; /* Las imágenes ocuparán todo el ancho de la tarjeta */
    height: 100%; /* Las imágenes ocuparán toda la altura de la tarjeta */
    object-fit: cover; /* Mantiene la proporción de aspecto y recorta la imagen si es necesario */
  }
  
  .card-body {
    flex: 1;
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center; /* Centra el contenido en la tarjeta */
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }

 

  .categorias-list {
    display: flex;
    flex-direction: row; /* Cambia de columna a fila */
    align-items: center;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas si no caben en una sola fila */
    justify-content: center;
  }
  
  
  .categoria-card {
    display: flex;
    align-items: center;
    width: 200px; /* Ancho deseado para las tarjetas */
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease; /* Transición de cambio de color */
  }
  
  .categoria-content {
    flex-grow: 1;
  }
  
  .checkmark {
    width: 24px;
    height: 24px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .checkmark.selected {
    background-color: #007bff; /* Color de fondo cuando está seleccionado */
    border-color: #007bff;
    color: white; /* Color del icono cuando está seleccionado */
  }
  