
<div class="container contenedor mx-auto my-5">
<img class="h-auto cursor-pointer filter grayscale hover:grayscale-0" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description">
<div class="container mx-3">
    <h1>Emmax</h1>
    <p class="mx-1">El nombre "EMMAX" surgió de la combinación de los nombres de los dos fundadores principales, Emma y Max. Juntos, diseñaron un sitio web moderno y elegante que reflejaba la estética de los productos que planeaban vender. Desde smartphones y laptops hasta accesorios tecnológicos y dispositivos inteligentes para el hogar, EMMAX ofrecía una amplia gama de productos que no solo eran funcionales sino también visualmente atractivos.</p>
    <p>La misión de EMMAX era simple pero ambiciosa: proporcionar a sus clientes los productos electrónicos más bellos y avanzados del mercado y hacer que la experiencia de compra en línea fuera lo más fácil y satisfactoria posible. Para lograrlo, se asociaron con fabricantes de renombre de todo el mundo y establecieron un sistema logístico eficiente que permitía realizar entregas rápidas y seguras en cualquier rincón del planeta.</p>
</div>
</div>
