@model ProyectoCore.Models.Usuario
@{
    ViewData["Title"] = "Eliminar_Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el Usuario?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar_Usuario" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdUsuario" />

            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">Nombre</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Apellido">Apellido</label>
                <input class="form-control form-control-sm" asp-for="Apellido" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Dirección">Direccion</label>
                <input class="form-control form-control-sm" asp-for="Dirección" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Teléfono">Telefono</label>
                <input class="form-control form-control-sm" asp-for="Teléfono" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Email">Email</label>
                <input class="form-control form-control-sm" asp-for="Email" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="NombreUsuario">Nombre Usuario</label>
                <input class="form-control form-control-sm" asp-for="NombreUsuario" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="FechaNacimiento">Fecha Nacimineto</label>
                <input class="form-control form-control-sm" asp-for="FechaNacimiento" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Contraseña">Contrasena</label>
                <input class="form-control form-control-sm" asp-for="Contraseña" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="ContraseñaHash">Contrasena Hash</label>
                <input class="form-control form-control-sm" asp-for="ContraseñaHash" type="text" disabled />
            </div>


            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar_Usuario</button>
                <a class="btn btn-dark btn-sm" asp-action="IndexUsuario" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

