@model ProyectoCore.Models.MetodoPago
@{
    ViewData["Title"] = "Eliminar_Metodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el metodo de pago?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar_MetodoPago" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdMetodo" />

            <div class="mb-2">
                <label class="form-label" asp-for="TipoMetodo">Tipo</label>
                <input class="form-control form-control-sm" asp-for="TipoMetodo" type="text" disabled />
            </div>

            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar_MetodoPago</button>
                <a class="btn btn-dark btn-sm" asp-action="IndexMetodoPago" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

