@model ProyectoCore.Models.Recibo
@{
    ViewData["Title"] = "Eliminar_Recibo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el recibo?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar_Recibo" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdRecibo" />

            <div class="mb-3">
                <label class="form-label" asp-for="IdMetodoPago">Metodo de pago</label>
                <input class="form-control form-control-sm" asp-for="oMetodoPago.TipoMetodo" type="text" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="IdCarrito">IDCarrito</label>
                <input class="form-control form-control-sm" asp-for="oCarrito.IdCarrito" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Subtotal">Subtotal</label>
                <input class="form-control form-control-sm" asp-for="Subtotal" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Impuestos">Impuesto</label>
                <input class="form-control form-control-sm" asp-for="Impuestos" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Campo">Campo</label>
                <input class="form-control form-control-sm" asp-for="Campo" type="text" disabled />
            </div>

            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                <a class="btn btn-dark btn-sm" asp-action="IndexRecibo" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

