@model ProyectoCore.Models.Carrito
@{
    ViewData["Title"] = "Eliminar_Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el carrito?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar_Carrito" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdCarrito" />            

            <div class="mb-3">
                <label class="form-label" asp-for="IdUsuario">Usuario</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.NombreUsuario" type="text" disabled />
            </div>

            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                <a class="btn btn-dark btn-sm" asp-action="IndexCarrito" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>


