@model List<ProyectoCore.Models.Role>
@{

    ViewData["Title"] = "Role";
}

<div class="text-center">
    <h1 class="display-4">Role</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de Roles</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Role_Detalle" asp-controller="Home" asp-route-idRole="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Rol</td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="Role_Detalle" asp-controller="Home" asp-route-idRole="@item.IdRoles"> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="Eliminar_Role" asp-controller="Home" asp-route-idRole="@item.IdRoles"> Eliminar</a>
                        </td>
                    </tr>



                }
            </tbody>
        </table>


    </div>
</div>

