@model ProyectoCore.Models.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "Usuario_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.oUsuario.IdUsuario == 0)
{

    <h1>Crear Usuario</h1>
}
else
{
    <h1>Editar Usuario</h1>
}


<div class="row">
    <div class="col-sm-4">

        <form asp-action="Usuario_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="oUsuario.IdUsuario" />

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Nombre">Nombre</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Nombre" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Apellido">Apellido</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Apellido" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Dirección">Direccion</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Dirección" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Teléfono">Telefono</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Teléfono" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Email">Email</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Email" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.NombreUsuario">Nombre Usuario</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.NombreUsuario" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.FechaNacimiento">Fecha Nacimineto</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.FechaNacimiento" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.Contraseña">Contrasena</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.Contraseña" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oUsuario.ContraseñaHash">ContrasenaHash</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.ContraseñaHash" type="text" />
            </div>

            <div class="mb-2">

                @if (Model.oUsuario.IdUsuario == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                }
                <a class="btn btn-dark btn-sm" asp-action="IndexUsuario" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

