    <div class="flex flex-col text-center py-4">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 ">Contactanos</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Cualquier sugerencia o duda no dudes en contactar.</p>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Usuario:</label>
            <input type="Usuario" class="form-control">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Gmail:</label>
            <input type="Gmail" class="form-control">
          </div>
        <div class="">
        <label for="comentarios">Comentarios:</label>
        <textarea type="comentarios"></textarea>
         </div>
        
        <div class="redes-sociales">
            <h2>Redes Sociales</h2>
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto py-3">
            <button class="btn btn-primary"type="Enviar">Enviar</button>
        </div>        
    </form>