@model ProyectoCore.Models.Reseña
@{
    ViewData["Title"] = "Eliminar_Resena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar la resena?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar_Resena" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdReseña" />

            <div class="mb-2">
                <label class="form-label" asp-for="ValorReseña">ValorResena</label>
                <input class="form-control form-control-sm" asp-for="ValorReseña" type="text" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="IdUsuario">Usuario</label>
                <input class="form-control form-control-sm" asp-for="oUsuario.NombreUsuario" type="text" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="IdProducto">Producto</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Nombre" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Comentario">Comentario</label>
                <input class="form-control form-control-sm" asp-for="Comentario" type="text" disabled />
            </div>

            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                <a class="btn btn-dark btn-sm" asp-action="IndexResena" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

