@model ProyectoCore.Models.ViewModels.ProductoVM
@{
    ViewData["Title"] = "Producto_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.oProducto.IdProducto == 0)
{

    <h1>Crear producto</h1>
}
else
{
    <h1>Editar producto</h1>
}


<div class="row">
    <div class="col-sm-4">

        <form asp-action="Producto_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="oProducto.IdProducto" />

            <div class="mb-2">
                <label class="form-label" asp-for="oProducto.Nombre">Nombre</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Nombre" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oProducto.Descripcion">Descripcion</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Descripcion" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oProducto.Precio">Precio</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Precio" type="text" />
            </div>
            
            <div class="mb-2">
                <label class="form-label" asp-for="oProducto.Stock">Stock</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Stock" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oProducto.Imagen">Imagen</label>
                <input class="form-control form-control-sm" asp-for="oProducto.Imagen" type="text" />
            </div>



            <div class="mb-3">
                <label class="form-label" asp-for="oProducto.IdCategoria">Categoria</label>
                <select class="form-select form-select-sm" asp-for="oProducto.IdCategoria" asp-items="@Model.oListaCategoria">
                    <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>

            <div class="mb-2">

                @if (Model.oProducto.IdProducto == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                }
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

