@model ProyectoCore.Models.ViewModels.ResenaVM
@{
    ViewData["Title"] = "Resena_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.oResena.IdReseña == 0)
{

    <h1>Crear Resena</h1>
}
else
{
    <h1>Editar Resena</h1>
}


<div class="row">
    <div class="col-sm-4">

        <form asp-action="Resena_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="oResena.IdReseña" />

            <div class="mb-2">
                <label class="form-label" asp-for="oResena.ValorReseña">ValorResena</label>
                <input class="form-control form-control-sm" asp-for="oResena.ValorReseña" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="oResena.IdUsuario">Usuario</label>
                <select class="form-select form-select-sm" asp-for="oResena.IdUsuario" asp-items="@Model.oListaUsuario">
                    <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="oResena.IdProducto">Producto</label>
                <select class="form-select form-select-sm" asp-for="oResena.IdProducto" asp-items="@Model.oListaProducto">
                    <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oResena.Comentario">Comentario</label>
                <input class="form-control form-control-sm" asp-for="oResena.Comentario" type="text" />
            </div>

            <div class="mb-2">

                @if (Model.oResena.IdReseña == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                }
                <a class="btn btn-dark btn-sm" asp-action="IndexResena" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

