.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 400ms;
  }
.cards .card p.tip {
    font-size: 1.5em;
    font-weight: 500;
}
.cards .card p.second-text {
    font-size: 1.0em;
  }
.cards .card:hover{
    transform: scale(0.9, 0.9);
}
.card:hover > .card:not(:hover){
    filter: blur(100px);
    transform: scale(0.9,0.9);
}

.mi-imagen {
    inline-size: 40em;
    block-size:40em;
  }

.card-img-top {
    width: 50%; /* Las imágenes ocuparán todo el ancho de la tarjeta */
    height: 100%; /* Las imágenes ocuparán toda la altura de la tarjeta */
    object-fit: cover; /* Mantiene la proporción de aspecto y recorta la imagen si es necesario */
  }

  
.imagen img {
    width: 50px; /* Tamaño de la imagen */
    height: 50px; /* Tamaño de la imagen */
    object-fit: cover; /* Ajustar la imagen al cuadro */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}