<!-- Carousel -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgs.search.brave.com/MmT6XfUcSQq4h1Eaha3gOCpLT4krK0LN9Ot7_JBVvjE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NDM3MDIzMDMtNzE3/NjYyNjBmNmQzP2l4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TVRGOGZI/Qmxjbkp2ZkdWdWZE/QjhmREI4Zkh3dyZ3/PTEwMDAmcT04MA" class="d-block w-1 mx-auto my-5" alt="1">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/Iga9KQA2XSW6A__EFIyNXal0G_5MXLu_7nRwwXOyOb8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/MDM1MTIzMzQ0MjMt/ZTM3YTM1ZWU4NjE1/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREI4TUh4/elpXRnlZMmg4TVRK/OGZIQmxjbkp2ZkdW/dWZEQjhmREI4Zkh3/dyZ3PTEwMDAmcT04/MA" class="d-block w-1 mx-auto my-5"  alt="2">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/RDGLADylecapOJPLv5lR_WvIz7Pi2ujPsfB5piYSS34/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MjQzOTE4NjI5NzYt/YWMxYjk5NjZlYzk1/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREI4TUh4/elpXRnlZMmg4TVRs/OGZIQmxjbkp2YzN4/bGJud3dmSHd3Zkh4/OE1BPT0mdz0xMDAw/JnE9ODA" class="d-block w-1 mx-auto my-5"  alt="3">
      </div>
    </div>
    <button class="carousel-control-prev btn btn-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn btn-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Articulos  -->
<!-- 1 -->
  <div class="row row-cols-1 row-cols-md-5 g-4 mx-auto py-5">
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/pLStqgfpBjwsGe7nj18COH08Wya_OkGRO4duTEDulOw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L25h/cnV0by9pbWFnZXMv/ZC9kOC9HYXRvLnBu/Zy9yZXZpc2lvbi9s/YXRlc3Qvc2NhbGUt/dG8td2lkdGgtZG93/bi8zMDA_Y2I9MjAx/NTAyMjExMzU1MzA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rayfel</h5>
          <p class="card-text">Ingeniero en Software Diq.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/qIkzmAm3EvzpLwNIQ7AZwGQyUQFxoUrwWKImqrzGiOk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1jbGRucnkucy1u/YmNuZXdzLmNvbS9p/bWFnZS91cGxvYWQv/dF9maXQtNzIwdyxm/X2F1dG8scV9hdXRv/OmJlc3QvbmV3c2Nt/cy8yMDIzXzMwLzE5/NTI1OTIvMmY5ZTIy/ZjUtNDdiMC00NGQ3/LWI3YzUtYzRkMGI5/NmJhZDgyLTEtMDVm/MjI3M2Q0MWJjMzE4/MjQwYTYwNTgxOWQ1/ZDdlOTUtNjNhNGJm/ZmFlMGMwZC5qcGVn" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/F3dF3uJDEG-cJuv4xLmxubHB0Bry6aSYILFqxKeZ2vE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxUC1KVGlUWXNM/LmpwZw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/pLStqgfpBjwsGe7nj18COH08Wya_OkGRO4duTEDulOw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L25h/cnV0by9pbWFnZXMv/ZC9kOC9HYXRvLnBu/Zy9yZXZpc2lvbi9s/YXRlc3Qvc2NhbGUt/dG8td2lkdGgtZG93/bi8zMDA_Y2I9MjAx/NTAyMjExMzU1MzA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rayfel</h5>
          <p class="card-text">Ingeniero en Software Diq.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature 1 -->
  <div class="card mx-5">
    <h5 class="card-header ">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- 2 -->
  <div class="row row-cols-1 row-cols-md-5 g-4 mx-auto py-5">
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/qIkzmAm3EvzpLwNIQ7AZwGQyUQFxoUrwWKImqrzGiOk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1jbGRucnkucy1u/YmNuZXdzLmNvbS9p/bWFnZS91cGxvYWQv/dF9maXQtNzIwdyxm/X2F1dG8scV9hdXRv/OmJlc3QvbmV3c2Nt/cy8yMDIzXzMwLzE5/NTI1OTIvMmY5ZTIy/ZjUtNDdiMC00NGQ3/LWI3YzUtYzRkMGI5/NmJhZDgyLTEtMDVm/MjI3M2Q0MWJjMzE4/MjQwYTYwNTgxOWQ1/ZDdlOTUtNjNhNGJm/ZmFlMGMwZC5qcGVn" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/F3dF3uJDEG-cJuv4xLmxubHB0Bry6aSYILFqxKeZ2vE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxUC1KVGlUWXNM/LmpwZw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/pLStqgfpBjwsGe7nj18COH08Wya_OkGRO4duTEDulOw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L25h/cnV0by9pbWFnZXMv/ZC9kOC9HYXRvLnBu/Zy9yZXZpc2lvbi9s/YXRlc3Qvc2NhbGUt/dG8td2lkdGgtZG93/bi8zMDA_Y2I9MjAx/NTAyMjExMzU1MzA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rayfel</h5>
          <p class="card-text">Ingeniero en Software Diq.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/qIkzmAm3EvzpLwNIQ7AZwGQyUQFxoUrwWKImqrzGiOk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1jbGRucnkucy1u/YmNuZXdzLmNvbS9p/bWFnZS91cGxvYWQv/dF9maXQtNzIwdyxm/X2F1dG8scV9hdXRv/OmJlc3QvbmV3c2Nt/cy8yMDIzXzMwLzE5/NTI1OTIvMmY5ZTIy/ZjUtNDdiMC00NGQ3/LWI3YzUtYzRkMGI5/NmJhZDgyLTEtMDVm/MjI3M2Q0MWJjMzE4/MjQwYTYwNTgxOWQ1/ZDdlOTUtNjNhNGJm/ZmFlMGMwZC5qcGVn" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature 2 -->
  <div class="card text-center mx-5">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
  <!-- 3 -->
  <div class="row row-cols-1 row-cols-md-5 g-4 mx-auto py-5">
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/7yYGGhJzoGN3DOzsmGc5koqlkYEsXI2W95YdRbd2iig/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF83/MzAxMDYtTUxNNDU3/NDQwNTU5NDVfMDQy/MDIxLVYud2VicA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/F3dF3uJDEG-cJuv4xLmxubHB0Bry6aSYILFqxKeZ2vE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxUC1KVGlUWXNM/LmpwZw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
