<!-- Carousel -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner carousel-container">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/jb01gdx.jpg" class="mi-imagen object-fit-fill border rounded d-block mx-auto my-3" alt="1">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/hOLHxny.jpg" class="mi-imagen object-fit-fill border rounded d-block w-1 mx-auto my-3"  alt="2">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/hOLHxny.jpg" class="mi-imagen object-fit-fill border rounded d-block w-1 mx-auto my-3"  alt="3">
      </div>
    </div>
    <button class="carousel-control-prev btn btn-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn btn-light" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Articulos  -->
<!-- 1 -->
<div class="cards g-4 mx-4 py-5">
  <div class="col" *ngFor="let item of category">
    <a [routerLink]="['/tienda']">
      <div class="shadow-sm card h-100">
        <img class="card-img-top" [src]="item.imagen ? item.imagen : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'" alt="Imagen">
        <div class="card-body">
          <p class="tip">{{ item.categoria.nombre }}</p>
          <p class="second-text">{{ item.categoria.descripcion }}</p> 
        </div>
      </div>
    </a>
  </div>
  </div>
  <!-- Feature 1 -->
  <div class="card mx-5">
    <p class="card-header ">Ultimas Novedades</p>
    <div class="shadow-sm card-body">
     <!-- <p class="tip">Productos recientes...</p>-->
      <p class="second-text">No pierdas tu oportunidad, compra nuestros ultimos productos antes que nadie.</p>
      <a href="#" class="btn btn-dark">Comprar</a>
    </div>
  </div>
  <!-- 2 -->
  <div class="cards  g-4 mx-4 py-5">
    <div class="col" *ngFor="let item of recent">
      <a [routerLink]="['/product', item.idProducto]">
        <div class="shadow-sm card h-100">
          <img class="card-img-top" [src]="item.imagen ? item.imagen : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'" alt="Imagen">
          <div class="card-body">
            <p class="tip">{{ item.nombre }}</p>
            <p class="second-text">{{ item.descripcion }}</p> 
          </div>
        </div>
      </a>
    </div>
    </div>
  <!-- Feature 2 -->
  <div class="card text-center mx-5">
    <div class="card-header">
      Productos mejores calificados
    </div>
    <div class="shadow-sm card-body">
      <p class="tip"></p>
      <p class="second-text">Recuerda que puedes calificar nuestros productos para una mejor experiencia para ti y para los demas</p>
      <a href="#" class="btn btn-dark">Comprar</a>
    </div>
    <div class="card-footer text-body-secondary">
  <!--    2 days ago -->
    </div>
  </div>
  <!-- 3 -->
  <div class="cards  g-4 mx-4 py-5">
    <div class="col" *ngFor="let item of popular">
      <a [routerLink]="['/product', item.idProducto]">
        <div class="shadow-sm card h-100">
          <img class="card-img-top" [src]="item.imagen ? item.imagen : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'" alt="Imagen">
          <div class="card-body">
            <p class="tip">{{ item.nombre }}</p>
            <p class="second-text">{{ item.descripcion }}</p> 
          </div>
        </div>
      </a>
    </div>

    </div>

