/* Estilo para el formulario */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Estilo para los encabezados */
  h1, h2, h3 {
    color: #333;
  }
  
  /* Estilo para los párrafos */
  p {
    color: #555;
  }
  
  /* Estilo para las secciones */
  .section {
    margin-top: 20px;
  }
  
  /* Estilo para los elementos del formulario */
  .form-field {
    margin-bottom: 10px;
  }
  
  /* Estilo para los títulos de sección */
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilo para los detalles de los recibos */
  .receipt-details {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Estilo para los productos */
  .product-details {
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Estilo para los márgenes */
  .margin-top-10 {
    margin-top: 10px;
  }
  
  /* Estilo para los márgenes */
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  
  .loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% del alto de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 100% del ancho de la ventana */
  }
  