<footer class="navbar fixed-bottom bg-dark text-white">
    <div class="container d-md-flex">

        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
    
            Designed by <a href="https://www.instagram.com/just.jcob/">Jacob</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://www.instagram.com/just.jcob/" class="twitter"><i class="fab fa-cc-paypal iconos"></i></a>
          <a href="https://www.instagram.com/just.jcob/" class="twitter"><i class="fab fa-cc-paypal iconos"></i></a>
        </div>
      </div>
</footer>