<header class="bg-black text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>EMMAX</h1>
            </div>
            <div class="col-md-6 text-end">
                <nav>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white">Inicio</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white">Acerca de</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white">Servicios</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>