<log4net>
	<root>
		<!-- todo archvo xml debe de contener una raiz-->
		<level value="ALL" />
		<!--este es el nivel de value, si quieres logear todo, solamente errores etc-->
		<!-- <appender-ref ref="console" />  los appernder son los diferentes mecanismos de log "console" es q va a logear por pantalla-->
		<!--comentamos el appender de arriba porq ya no lo necesitamos, porque el que agregamos de internet es de consola tambien-->
		<appender-ref ref="file" />
		<!--y este por archivo-->
		<appender-ref ref="ColoredConsoleAppender" />
		<!--esto lo colocamos nosotros q lo buscamos de un link codigo de internet https://gist.github.com/dpan/9229147-->
		<appender-ref ref="AdoNetAppender"></appender-ref>
		<!--este es el 2do appender que sacamos de internet en el steap 3 https://www.c-sharpcorner.com/article/configure-log4net-with-database-tutorial-for-beginners/-->
	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="myapp.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<!--este apender te le coloca colores a los log po ejermplo si es ""fatal lo pone de color rojo-->
		<mapping>
			<level value="FATAL" />
			<foreColor value="Red" />
			<backColor value="White" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d{yyyy-MM-dd HH:mm:ss} %-5level %message%newline" />
		</layout>
		<threshold value="Info" />
	</appender>
	<!--este apender es el interior del apender q sacamos de internet (esto tambien lo sacamos de internet, osea es del mismo codigo de lo de orita)-->
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection,   
   System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

		<connectionStringName value="CN" />
		<commandText value="pp_log" />
		<!--aqui habia antes un insert, pero lo cambiamos a un store procedurs q creamos, porq los inserts son malas practicas-->
		<commandType value="StoredProcedure" />
		<!--esto es para que ejecute el store procedure -->
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>
	<!--este apender es el 2do q sacamos de internet-->
</log4net>
