<h1>Mis favoritos</h1>
<div *ngFor="let producto of listaProductos">  
  <div class="tarjeta">
    <div class="imagen">
        <img class="card-img" [src]="producto.producto.imagen" alt="Producto" />
    </div>
    <div class="detalles">
        <h3>{{ producto.producto.nombre}}</h3>
        <h6>{{ producto.producto.descripcion}}</h6>
        <h6>Precio: {{ producto.producto.precio}}$</h6>
        <h6>Stock: {{ producto.producto.stock}}</h6>
        <!-- Botón para eliminar con un ícono de "X" y color rojo -->
        <button class="btn btn-outline-danger">
          <i class="fas fa-times"></i>
        </button>
        <!-- Botón para agregar a favoritos con un ícono de corazón y color negro -->
        <button class="btn btn-outline-dark">
          <i class="fas fa-shopping-cart"></i>
        </button>
    </div>
  </div>
</div>
